body {
  background-color: lightblue;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
}

.grid-options-container {
  display: flex;
  width: 640px;
  justify-content: space-between;
}

.grid-size-range-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eraser-button,
.clear-button,
.grid-lines-button {
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px black;
}

.eraser-button {
  background-color: rgb(243, 146, 19);
}

.eraser-button:hover,
.eraser-on {
  background-color: rgb(255, 189, 103);
}

.clear-button {
  background-color: #4CAF50;
}

.clear-button:hover {
  background-color: #82c285;
}

.grid-lines-button {
  background-color: #0060df;
  color: white;
}

.grid-lines-button:hover {
  background-color: #8fb6e9;
  color: black;
}

.grid-size-range {
  width: 400px;
  cursor: pointer;
}

.current-grid-size-text {
  font-size: 20px;
  font-weight: bold;
}